<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
            <h2>{{timezoneDetail.TimeZoneId}}</h2>

            <table class="table">  
                <thead>  
                    <tr>  
                        <th>Time Zone</th>  
                        <th>GMT Offset</th>  
                        <th>Day Light Saving</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr>  
                        <td>{{timezoneDetail.TimeZoneId}}</td>  
                        <td>{{timezoneDetail.GMT}}</td>  
                        <td>{{timezoneDetail.DST}}</td>  
                    </tr>  
                </tbody>  
            </table>
        </div>
    </div>
</div>